/* First need to define the body for the project, how to structure it*/

/* Basic Overall Arching CSS */
body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    background-color: rgba(36, 60, 40, 1);
    font-family: Arial, sans-serif;
}

h1 {
    color: #E5E5E5;
    font-family: Outfit;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    /* 70.4px */
    text-transform: capitalize;
    text-wrap: balance;
    word-wrap: break-word;
}

h2 {
    color: #E5E5E5;
    font-size: 48px;
    font-family: Outfit;
    font-weight: 700;
    text-transform: capitalize;
    word-wrap: break-word;
    font-style: normal;
    line-height: 5%;
    /* 70.4px */
    text-transform: capitalize;
    text-wrap: balance;
}
h3 {
    color: white;
    font-size: 14px;
    font-family: Outfit;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 27.50px;
    letter-spacing: 2.80px;
    word-wrap: break-word;
}
p1 {
    color: white;
    font-size: 20px;
    font-family: Roboto;
    font-weight: 400;
    line-height: 27.50px;
    word-wrap: break-word
}

.navigation {
    display: flex;
    height: fit-content;
}

header {
    background: transparent;
    color: white;
    width: 100%;
    margin: 0;
    padding: 0;
}

header::after {

    /*
    content: '';
    display: table;
    clear: none;
    */
}



nav {
    display: inline-flex;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

nav li {
    /*
    display: inline-block;
    */
    float: inline-start;
    /*
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    */
    text-wrap: nowrap;
    text-align: start;
}

nav a {
    /*
    display: block;
    */
    color: white;
    text-align: start;
    padding: 10px 10px;
    text-decoration: none;
    
}

nav img {
    width: 75px;
    height: 75px;
    object-fit: scale-down;
    margin-right: 10px;

}

nav a:hover {
    background-color: #bbcfbb;
    color: black;
}

.FillButton {
    display: inline-block; /*display: inline-flex;*/
    background-color: #B8EF73;
    border: 3px solid rgba(36, 60, 40, 1);
    color: white;
    height: 100%;
    width: fit-content;
    padding: auto;
    font-size: 20px;
    margin: 0px;
    text-align: center;
    text-decoration: none;
    border-radius: 40px;
    line-height: 27px;
    font-weight: 600;  
    padding-left: 46px; 
    padding-right: 46px;
    padding-top: 13px; 
    padding-bottom: 13px; 
    justify-content: center; 
    align-items: center;
    gap: 10px; 
     
}
.ghost-button { 
    display: inline-block; 
    background: transparent;
    border: 3px solid #B8EF73; 
    color: white; 
    width: fit-content; 
    padding-left: 10px;
    padding: auto; 
    font-size: 20px;
    margin: 0px;
    text-align: center;
    text-decoration: none;
    border-radius: 40px;
    line-height: 27px;
    font-weight: 600;  
    padding-left: 46px; 
    padding-right: 46px;
    padding-top: 13px; 
    padding-bottom: 13px; 
    justify-content: center; 
    align-items: center;
    gap: 10px; 
     
}

/*End of Basic Overall Arching CSS*/

/*Flex boxes*/
.flexbox-container {
    display: flex;
}

.flexbox-item {
    width: fit-content;
    margin-top: 35px;
    padding-inline-start: 20px;
    /*
    border: 3px solid black;
    background-color: white;
    */
}

.flexbox-item1 {
    /*
    min-height: 100px;
    */
    float: left;
    min-height: 100px;
    flex-shrink: 1;
    flex-grow: 1;
    
}
/* for matchify text in*/
.flexbox-item2 {
    /*
    min-height: 100px;
    */
    margin-top: 35px;
    margin-right: 100px;
    float: left;
    min-height: 100px;
    flex-shrink: 1;
    flex-grow: 1;
    color: white;
    font-size: 20px;
    font-family: Outfit;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 27.50px;
    word-wrap: break-word;
    align-self: baseline;
}
.flexbox-container2 {
    display: flex;
    width: fit-content;
    flex-wrap: NOwrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    background-color: #04AA6D;
    background: green;

}

.flexbox-itemhalf1 {
    /*
    min-height: 100px;
    */
    flex: 1;
    float: left;
    width: 40%;
    min-height: 50px;
    margin-left: 9.5%;
}

.flexbox-itemhalf2 {
    /*
    min-height: 100px;
    */
    flex: 1;
    width: 40%;
    float: inline-end;
    min-height: 50px;
    flex-shrink: 0;
    flex-grow: 1;
    align-self: flex-start;
    margin-right: 9.5%;

}

/* flexbox end*/

/* Tags */
.tag {
    display: inline-block;
    border-radius: 3px;
    padding: .2em .5em .3em;
    border-radius: 2px;
    background: var(--tag-bg);
    color: var(--text-color);
    font-weight: 600;
    margin: .25em .1em;
    font-size: 1.2em;
    border-radius: 4px;
    background: #B8EF73;
    color: #000;
}

.container {
    
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    height: 15%;
}

.artist-description {
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 2%;
    padding-bottom: 5%;
    border: black;
}


.simple-bar-chart {
    --line-count: 8;
    --line-color: currentcolor;
    --line-opacity: 0.25;
    --item-gap: 2%;
    --item-default-color: #060606;

    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 15rem;
    width: 30rem;
    display: grid;
    grid-auto-flow: column;
    gap: var(--item-gap);
    align-items: end;
    padding-inline: var(--item-gap);
    --padding-block: 1.5rem;
    /*space for labels*/
    padding-block: var(--padding-block);
    position: relative;
    isolation: isolate;
}

.simple-bar-chart::after {
    content: "";
    position: absolute;
    inset: var(--padding-block) 0;
    z-index: -1;
    --line-width: 1px;
    --line-spacing: calc(100% / var(--line-count));
    background-image: repeating-linear-gradient(to top, transparent 0 calc(var(--line-spacing) - var(--line-width)), var(--line-color) 0 var(--line-spacing));
    box-shadow: 0 var(--line-width) 0 var(--line-color);
    opacity: var(--line-opacity);
}

.simple-bar-chart>.item {
    height: calc(1% * var(--val));
    background-color: var(--clr, var(--item-default-color));
    position: relative;
    animation: item-height 1s ease forwards
}

@keyframes item-height {
    from {
        height: 0
    }
}

.simple-bar-chart>.item>* {
    position: absolute;
    text-align: center
}

.simple-bar-chart>.item>.label {
    inset: 100% 0 auto 0
}

.simple-bar-chart>.item>.value {
    inset: auto 0 100% 0
}

.row {
    display: flex;
}

.column {
    flex: 50%;
}

.artist-image {
    max-width: 100%;
    height: auto;
}

.developer {
    display: flex;
    align-items: center;
    /* vertically aligns items in the center */
    margin-bottom: 20px;
}

.developer img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-right: 20px;
    /* to give space between image and bio */
}

.developer p {
    flex: 1;
    /* allows the paragraph to take remaining space */
}

.centered_text {
    text-align: center;
}

.img {
    border: 5px solid #555;
}

/* This is for the artists comparison page */

#artistInput {
    background-image: url('/images/search-icon.png');
    background-size: 20px 20px;
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

#artist_search {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#artist_search li a {
    border: 1px solid #ddd;
    margin-top: -1px;
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
}

#artist_search li a:hover:not(.header) {
    background-color: #eee;
}

/* This is for the song comparison page */
#songInput {
    background-image: url('/images/search-icon.png');
    background-size: 20px 20px;
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

#song_search {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#song_search li a {
    border: 1px solid #ddd;
    margin-top: -1px;
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
}

#song_search li a:hover:not(.header) {
    background-color: #eee;
}


/* Spider Chart */
#spider_container {
    margin-top: auto;
    margin-left: 450px;
    margin-right: 450px;
    width: 500px;
    height: 500px;
}

/* SEARCH BAR 1 */
.dropbtn1 {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn1:hover,
.dropbtn:focus {
    background-color: #3e8e41;
}

#myInput1 {
    box-sizing: border-box;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
}

#myInput1:focus {
    outline: 3px solid #ddd;
}

.dropdown1 {
    position: relative;
    display: inline-block;
}

.dropdown-content1 {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    border: 1px solid #ddd;
    z-index: 1;
}

.dropdown-content1 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content1 a:hover {
    background-color: #f1f1f1
}

.show {
    display: block;
}

/* SEARCH BAR 2 */
.dropbtn2 {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn2:hover,
.dropbtn:focus {
    background-color: #3e8e41;
}

#myInput2 {
    box-sizing: border-box;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
}

#myInput2:focus {
    outline: 3px solid #ddd;
}

.dropdown1 {
    position: relative;
    display: inline-block;
}

.dropdown-content2 {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    border: 1px solid #ddd;
    z-index: 1;
}

.dropdown-content2 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content2 a:hover {
    background-color: #f1f1f1
}

.show {
    display: block;
}


.developers-heading {
    margin-bottom: 50px;
    /* Adjusts spacing below the heading */
}

#content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* This creates 2 even columns */
    gap: 20px;
    /* This adds spacing between grid items */
    max-width: 80%;
    /* Makes the grid less wide */
    margin: 0 auto;
    /* Centers the grid horizontally */
}

.developer {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Centers the content horizontally */
    text-align: center;
    /* Text centering for better aesthetics */
}

.developer img {
    margin-bottom: 10px;
    /* Adds some space between the image and the bio */
}

.quadrants {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* two columns */
    grid-template-rows: 1fr 1fr;
    /* two rows */
    gap: 20px;
    /* space between quadrants */
    padding: 20px;
    /* padding around the grid */
    height: 100vh;
    /* adjust as needed */
}

.developer {
    background-color: #f3f3f3;
    /* light grey background, adjust as needed */
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* subtle shadow for depth */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.developer img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    /* circular images */
}


@media (max-width: 768px) {
    .quadrants {
        grid-template-columns: 1fr;
        /* stack them in single column on smaller screens */
    }
}


/*This is the CSS part for the button */

body {font-family: Arial, Helvetica, sans-serif;}


input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}


.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}


.modal {
  display: none; /*Hidden by default*/
  position: fixed; /*Stay in place*/
  z-index: 1; /*Sit on top*/
  left: 0;
  top: 0;
  width: 100%; /*Full width*/
  height: 100%; /*Full height*/
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}


.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
} 

.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}
